<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>N11 Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:36:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="9494d8">  <td>20/05/08 17:37:11</td>   <td>17192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestScript.verifyPostCount()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">verifyPostCount</td> 
  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:37:24</td>   <td>30103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:37:24</td>   <td>30317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="9494d8">  <td>20/05/08 17:37:37</td>   <td>43751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestScript.verifyPostKnowledge()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">verifyPostKnowledge</td> 
  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:37:52</td>   <td>58439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test_scripts.HomePageTestScript@76b10754]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:37:58</td>   <td>64117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a16787">  <td>20/05/08 17:38:13</td>   <td>79436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScript.verifyLogin()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">verifyLogin</td> 
  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:38:29</td>   <td>95206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:38:29</td>   <td>95357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a16787">  <td>20/05/08 17:38:41</td>   <td>108006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScript.vrifyTitle()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">vrifyTitle</td> 
  <td>main@341853399</td>   <td></td> </tr>
<tr bgcolor="a981a5">  <td>20/05/08 17:38:41</td>   <td>108038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test_scripts.LoginTestScript@2d127a61]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@341853399</td>   <td></td> </tr>
</table>
