<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b668a">  <td>20/05/07 02:18:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.test_scripts.HomePageTestScript@7fc2413d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1219161283</td>   <td></td> </tr>
<tr bgcolor="7b668a">  <td>20/05/07 02:19:04</td>   <td>43251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test_scripts.HomePageTestScript@7fc2413d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1219161283</td>   <td></td> </tr>
<tr bgcolor="8bf671">  <td>20/05/07 02:18:37</td>   <td>16162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestScript.verifyPostCount()[pri:0, instance:com.test_scripts.HomePageTestScript@7fc2413d]">verifyPostCount</td> 
  <td>main@1219161283</td>   <td></td> </tr>
</table>
